html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
}

.button-wrapper {
    width: 100%;
    margin-top: 25px;
}

button {
    width: 100%;
    height: 42px;
    padding: 7px 18px 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    background: #b88b58;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.15s ease-out;
    text-align: center;
    color: #fff;
    border-width: 0;
    outline: none;
}

.header {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 7px;
}

.questions-count {
    font-family: "Arial";
    font-size: 20px;
    color: rgb(178, 178, 178);
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    font-weight: 700;
}

.html-wrapper {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    border-top: none;
}

.card-wrapper {
    width: 100%;
    font-family: "Arial", serif;
}

.answers {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 8px;
}

.answer {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px 74px 10px 12px;
}

.fail {
    box-shadow: rgb(233, 69, 34) -4px 0px;
}

.success {
    box-shadow: green -4px 0px;
}

.answered {
    box-shadow: grey -4px 0px;
}

.answer:first-child {
    border-radius: 8px 8px 0px 0px;
}

.answer:last-child {
    border-radius: 0px 0px 8px 8px;
    border-bottom: none;
}

.answer-container {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
}

.comment {
    margin-top: 6px;
    padding-right: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 37px;
    line-height: 42px;
    margin: 0 0 18px;
    font-weight: 700;
    padding: 0;
}

h1 span {
    font-size: 38px;
    font-weight: 400;
}

.date {
    font-weight: 400;
    line-height: 15px;
    margin-right: 0;
    text-align: center;
    width: 100%;
    color: #757575;
}

.logo {
    display: block;
    margin-left: -7px;
    margin-top: -5px;
    width: 32px;
    height: 32px;
    z-index: 10;
}

#share {
    width: 600px;
    height: 315px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 35px;
    background: url(https://meduza.io/image/attachments/images/004/534/023/original/-OqfL_F8O9pbM69t6fmxww.jpg) 0% 0% / cover no-repeat;
}

#share::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 5;
}

.title {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
}

.share-container {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgb(183, 139, 92) 0px 5px 0px 0px inset;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 22px 30px 22px 10px;
    z-index: 10;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.top-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    z-index: 10;
}

.middle-block {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    z-index: 10;
    flex: 0 1 auto;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.inner-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 35px;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

#score {
    font-size: 28px;
    line-height: 33px;
    margin-right: 10px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
    flex-shrink: 0;
}

#description {
    padding-left: 12px;
    border-left: 1px solid rgb(204, 204, 204);
}

#score::selection {
    background-color: rgb(179, 212, 252);
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.result {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
    margin: 0px 0px 5px;
}

.desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
    margin: 0px;
}
